{% import 'macros/result_item_macro.html' as resultItem %}
{% extends '_base.html' %}

{% import '_macros.html' as $macros %}

{% block main %}
<div class="b-categories-page">
  <div class="b-filter-ui js-and">
    <div class="b-top-section m-{{title | slug}}">
      <div class="row">
        <div class="large-12 column">
          <h1>{{ title }}</h1>
          <h3 class="e-tagline">{{description}}</h3>
        </div>
        <span class="b-filter-ui-container js-multi">
          <div class="switch">
            <label>
              All Articles
              <input type="checkbox" class="b-filter" data-filter="f-open">
              <span class="lever"></span>
              Open Access Articles Only
            </label>
          </div>
        </span>
      </div>
      <div class="row">
        <div class="column large-8 large-offset-2">
          <form action="" class="b-search m-main-search m-negative">
            <input id="lunr-filter" type="text" placeholder="Search" data-category="{{custom_filter | slug }}" /><!--
           --><input class="e-search-trigger material-icons" type="submit" value="search">
          </form>

        </div>
      </div>
    </div>
    <div class="b-divider b-filter-panel m-black">



      <h2>Filters</h2>


      <div class="row">
        <form action="#" class="b-form">

          {{ $macros.filterDropdown($global.papers, "Organization", custom_filter, 1) }}
          {{ $macros.filterDropdown($global.papers, "Objective", custom_filter, 2, "taxonomy") }}
          {{ $macros.filterDropdown($global.papers, "Methodology", custom_filter, 3, "taxonomy") }}
          {{ $macros.filterDropdown($global.papers, "Sector", custom_filter, 4) }}
          {{ $macros.filterDropdown($global.papers, "Region", custom_filter, 5) }}
          {{ $macros.filterDropdown($global.papers, "Type", custom_filter, 6) }}

        </form>
      </div>
    </div>
  </div>

    <div class="b-page-section b-results-section b-isotope">
    {% for d in $global.papers %}

    {%- set _match = false -%}
    {%- for i in d.taxonomy.category -%}
      {%- if i == custom_filter -%}
        {%- set _match = true -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if custom_filter == false -%}
       {%- set _match = true -%}
    {%- endif -%}

    {% if _match %}
            {{resultItem.createResult(d,$global.authors,$global.taxonomy_category, $global.taxonomy_methodology,$global.taxonomy_objective, $global.type,$global.region, $global.sector,$global.tools)}}
      {% endif %}
    {%endif%}
      {% endfor %}
    </div>
  </div>
  {% endblock %}