{% extends '_base.html' %}

{% block main %}
<div class-"b-all-categories-page">

  <div class="b-top-section">
    <h1>Authors</h1>
  </div>

{# List of Authors - Features Authors #}
  <div class="b-divider">
    <h1>Featured Authors</h1>
  </div>

  <div class="b-page-section b-featured-authors">
    <div class="row expanded">
      {% for a in  custom_authors %}
        <div class="column large-4 e-list-item">
          <div class="e-picture" style="background-image: url('./img/authors/{{ a.image }}');"></div>
          <a href="{{a.id }}-{{a.title | slug }}.html"<p class="e-name">{{a.title}}</p></a>
          <p class="e-job">{{a.job}}</p>
        </div>
      {% endfor %}
    </div>
  </div>



{# List of Authors - All Authors #}
  <div class="b-divider">
    <h1>All Authors</h1>
  </div>

  <div class="b-page-section b-all-categories-list">
    <div class="row expanded">
      <div class="small-6 large-centered columns">
      {% set 'alphabet' = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split("") %}
      {% for a in alphabet %}
        <span style="font-size: 40px;"><a href="#{{a}}">{{a}}</a></span>
      {% endfor %}
      </div>

      {% set 'author_list' = authors | createPeopleObjects() %}

    {% for letter in alphabet %}
        <a name="{{letter}}"></a>
          {% for a in author_list | sort(attribute="last_name") %}
          {% if a.letter_idx == letter and not a.full_name | titleExists(custom_authors) %}
          <div class="column large-4 e-list-item">
            <a href="{{a.id }}-{{a.full_name | slug }}.html">{{a.full_name }}</a>
          </div>
          {% endif %}
          {% endfor %}
      {% endfor %}
    </div>
  </div>


</div>


{% endblock %}