{% extends '_base.html' %}

{% block main %}
<div class-"b-all-categories-page">

  <div class="b-top-section">
    <h1>Authors</h1>
  </div>

{# List of Authors - Features Authors #}
  <div class="b-divider">
    <h1>Featured Authors</h1>
  </div>

  <div class="b-page-section b-featured-authors">
    <div class="row expanded">
      {% for a in  custom_authors %}
        <div class="column large-4 e-list-item">
          <div class="e-picture" style="background-image: url('./img/authors/{{ a.image }}');"></div>
          <p class="e-name" href="{{a.id }}-{{a.title | slug }}.html">{{a.title}}</p>
          <p class="e-job">{{a.job}}</p>
        </div>
      {% endfor %}
    </div>
  </div>



{# List of Authors - All Authors #}
  <div class="b-divider">
    <h1>All Authors</h1>
  </div>

  <div class="b-page-section b-all-categories-list">
    <div class="row expanded">
      {% for a in  authors %}
        {% if not a.value | titleExists(custom_authors) %}
        <div class="column large-4 e-list-item">
          <a href="{{a.id }}-{{a.title | slug }}.html">{{a.value}}</a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>


</div>


{% endblock %}