{% extends '_base.html' %}

{% block main %}
<div class-"b-all-categories-page">

  <div class="b-top-section">
    <h1>Categories</h1>
  </div>

{# List of Categories - Main Categories #}
  <div class="b-divider">
    <h1>Main Categories</h1>
  </div>

  <div class="b-page-section b-main-categories">
    <div class="row expanded">
      {% for cat in categories %}
        <div class="medium-3 show-for-medium column e-list-item m-{{cat.title | slug}}">
          <a class="e-category-item" href="{{cat.id }}-{{cat.title | slug }}.html">{{cat.title}}</a>
        </div>
      {% endfor %}
    </div>
  </div>

{# List of Categories - All Categories #}
  <div class="b-divider">
    <h1>All Categories</h1>
  </div>

  <div class="b-page-section b-all-categories-list">
    <div class="row expanded">
      {% for cat in  taxonomy_category %}
        {% if not cat.value | titleExists(categories) %}
        <div class="column large-4 e-list-item">
          <h3><a href="{{cat.id }}-{{cat.title | slug }}.html">{{cat.value}}</a></h3>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>


</div>


{% endblock %}