// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss


body {


}

.b-search-page {

}

.b-search-results {
  padding: 0;
}

.b-divider {
  text-align: center;
  &.m-main-color {
    background-color: $main-color;

  }
}

.access-switch .switch { text-align: center; }



.b-top-section {
  background-color: $main-color;
  margin-top: -66px;
  padding-top: 136px;

  &.m-standalone {
    padding-bottom: 80px;
  }
}

.b-top-nav {
  background-color: rgba($black, .2);

  .e-social-media img { width: 20px; } // Custom icon for twitter (maybe push this to styleguide)

  .e-logo {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px;

    &:hover { text-decoration: none; }
  }
}

.b-browsing-ways {
  text-align: center;
  padding-top: 30px;

  .e-way {
    color: $white;
  }
}

.b-main-search-section {
  background-color: darken($main-color, 4);
}

.b-all-categories-list {
  padding: 0;

  .e-list-item {
    padding: 40px 0;
    text-align: center;
    font-size: 1.1rem;
    &:nth-child(even) { background-color: rgba($black, .03); }

  }
}

.b-categories-page {
  .switch { text-indent: 90px; }
}

.ogr-paragraph:hover{
  color: $green;
}


.b-featured-authors {
  .e-list-item {
    text-align: center;
    height: 380px;

    .e-picture {
      height: 250px;
      width: 250px;
      margin: 0 auto 30px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba($black, .1);
    }

    .e-name {
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0;
    }

    .e-job {
      font-size: 1rem;
      color: rgba($black, .6);
    }
  }
}


// PLACEHOLDER COLOR CODES FOR LIST ITEM
.e-list-item {
  &.m-all {background-color: $all;}
  &.m-behavioral-research {background-color: $behavioral-research !important;}
  &.m-citizen-engagement {background-color: $citizen-engagement;}
  &.m-civic-technology {background-color: $civic-technology !important;}
  &.m-data-analysis {background-color: $data-analysis;}
  &.m-expert-networking {background-color: $expert-networking !important; }
  &.m-open-data {background-color: $open-data;}
  &.m-labs-and-experimentation {background-color: $labs-and-experimentation !important;}
}

//// footer
.e-partner-logo{
  width: 31%;
  padding: 0 2%
}
.footer-text:hover{
  color: $yellow;
}
